
<%= simple_form_for(@deal_report) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :offense, collection: DealReport.offenses.keys, include_blank: false%>
    <%= f.input :content %>
    <%= f.hidden_field :account_id, :value => current_account.id%>
    <%= f.hidden_field :deal_id, :value => params[:deal_id] %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
