<p id="notice"><%= notice %></p>

<h1>Event Reports</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Reporter</th>
      <th>Offense</th>
      <th>Reportable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_reports.each do |event_report| %>
      <tr>
        <td><%= event_report.content %></td>
        <td><%= event_report.reporter_id %></td>
        <td><%= event_report.offense %></td>
        <td><%= event_report.reportable_id %></td>
        <td><%= link_to 'Show', event_report %></td>
        <td><%= link_to 'Edit', edit_event_report_path(event_report) %></td>
        <td><%= link_to 'Destroy', event_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Report', new_event_report_path %>
