<p id="notice"><%= notice %></p>

<h1>Personnel</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Rank</th>
      <th>Branch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personnels.each do |personnel| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= personnel.username %></td>
        <td><%= personnel.rank %></td>
        <td><%= personnel.branch %></td>
        <td class="actions">
          <ul>
            <li><%= link_to 'Show', personnel %></li>
            <li><%= link_to 'Edit', edit_personnel_path(personnel) %></li>
            <li>
              <%= link_to 'Destroy',
                  personnel,
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personnel', new_personnel_path %>
